@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Noto+Serif+KR&display=swap');

* {
	font-family: 'Gowun Dodum', sans-serif;
}

nav ul.top-menu {
	list-style-type: none;
	background-color: black;
}

ul.top-menu li, a {
	display: inline-block;
}

ul.top-menu a.menu-link {
	text-decoration: none;
	color: white;
	padding: 0.5em 1em;
}

/* 메뉴에 커서를 둘 때 나타나는 액션 */
ul.top-menu a.menu-link:hover {
	background-color: white;
	color: black;
}

ul.top-menu .active {
	background-color: gray;
	color: black;
}

/*
 * 사이드 메뉴
 */
ul.side-menu {
	list-style-type: none;
	background-color: black;
	width: 350px;
	padding: 0;
}

ul.side-menu a.menu-link {
	display: block;
	text-decoration: none;
	color: white;
	padding: 1em;
}

ul.side-menu a.menu-link:hover {
	background-color: white;
	color: black;
}

ul.side-menu .active {
	background-color: gray;
	color: black;
}